<li>
    {{ name }}

    <button class="change" data-id="{{id}}" data-newdevour="{{sleep}}">
        {{#if devour}}DEVOURED!!!{{/if}}
    </button>
    
    <button class="devour-burger" data-id="{{this.id}}"> DEVOUR!!!</button>
</li>